tr,td{
    padding:4px;
}

p{
    margin:0px;
    padding: 0px;
}

p2{
        margin-left: 240px;
}
table{
    border-collapse:collapse;
    margin-left: 240px;
    margin-top: 40px;
}
input{
    font-family:Serif;
    width:100%;
    height:100%;
    font-size:40px;
    font-weight:bold;
    color:white;
    background-color:#303237;
}

body
{
    background-image: url("background.jpg");
    background-repeat: fixed;
}
.dark{
    background-color:#181818;
    color:white;
}